<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さんの情報"%>
      </h2>
      
      <%# プロフィール画像 class名は仮%>
      <% if @user.avatar.present? %>
        <%= image_tag(@user.avatar, class: 'user_avatar', alt: 'User Avatar') %>
      <% else %>
        <%= image_tag('sample.jpg', class: 'user_avatar', alt: 'Default Avatar') %>
      <% end %>
      <%# プロフィール画像はここまで class名は仮%>
     

      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="table__col1">職業</th>
            <td class="table__col2"><%= @user.occupation %></td>
          </tr>
          <tr>
            <th class="table__col1">使用言語</th>
            <td class="table__col2"><%= @user.language %></td>
          </tr>
          <tr>
            <th class="table__col1">プロフィール</th>
            <td class="table__col2"><%= @user.profile %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= @user.name + "さんのイベント一覧"%>
      </h2>
      <div class="user__card">
        <%= render partial: 'events/event', collection: @events %>
      </div>
    </div>
  </div>
</div>