<div class="card">
  <%= link_to image_tag(event.images.first, class: :card__img ), event_path(event.id) if event.images.attached? %>
  <div class="card__body">
    <%= link_to event.title, event_path(event.id), class: :card__title %>
    <p class="card__summary">
      <%= event.catch_copy %>
    </p>
    <p class="card__price">
      <%= event.price %>円 / 泊
    </p>
   <%= link_to "by " +  event.user.name, user_path(event.user.id), class: :card__user %>
  </div>
</div>