<%= form_with model: event, id: 'new_event', local: true do |f|%>
  <div class="field">
    <%= f.label :title, "イベントの名称" %><br />
    <%= f.text_field :title, id:"event_title" %>
  </div>

  <div class="field">
    <%= f.label :catch_copy, "体験できること" %><br />
    <%= f.text_area :catch_copy, class: :form__text, id:"event_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :concept, "料金に含まれるもの" %><br />
    <%= f.text_area :concept, class: :form__text, id:"event_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "イベントと宿のイメージ画像（最大10枚）" %><br />
    <div id="previews"></div>
    <%# <%= f.file_field :images, multiple: true, id:"event_image" %> 
    <%= f.file_field :images, name: 'event[images][]', data: {index: 0} %>
  </div>

  <div class="field">
    <%= f.label :price, "イベントの料金（宿泊費込み）" %><br />
    <%= f.text_field :price, id:"event_fee" %>円
  </div>

  <div class="field">
    <%= f.label :address, "イベントの場所" %><br />
    <%= f.text_field :address, id:"event_place" %>
  </div>

  <div class="actions">
    <%= f.submit "公開する", class: :form__btn  %>
  </div>
<% end %>