<main class="main">
  <div class="inner">
    <div class="event__wrapper">
      <p class="event__hedding">
        <%= @event.title %>
        <%= @event.price %>円 / 泊
      </p>
    
      
      <%= link_to "by " + @event.user.name, user_path(@event.user), class: :event__user %>
      <% if user_signed_in? %>
        <div class="event__manage">
        <% if current_user.id == @event.user.id %>
          <%= link_to "編集する", edit_event_path(@event.id), class: :event__btn %>
          <%= link_to "削除する", event_path(@event.id), method: :delete, class: :event__btn %>
        <% else %>
          <%= link_to "予約画面に進む", event_bookings_path(@event),class: :event__orange__btn %>
        <% end %>
        </div>
      <% end %>
      <div class="event__image">
        <% if @event.images.attached? %>
          <% @event.images.each do |image| %>
             <%= image_tag image.variant(resize: '500x500').processed %>
          <% end %>
        <% end %>
      </div>
      <div class="event__body">
        <div class="event__detail">
          <p class="detail__title">体験できること</p>
          <p class="detail__message">
            <%= @event.catch_copy %>
          </p>
        </div>
        <div class="event__detail">
          <p class="detail__title">料金に含まれるもの</p>
          <p class="detail__message">
            <%= @event.concept %>
          </p>
        </div>
       
        <%# もう一個で試す %>
   <h3>イベント＆宿泊場所</h3>
    <div class="address">
      <p><%= @street %></p>
    </div>

    <div class="map">
      <div id="map"></div>
    </div>

    <div type="text/javascript">
      <script>
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: <%= @event.latitude %>, lng: <%= @event.longitude %> },
            zoom: 15
          });

          var marker = new google.maps.Marker({
            position: { lat: <%= @event.latitude %>, lng: <%= @event.longitude %> },
            map: map,
            title: '<%= @event.title %>'
            
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%=  ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>


        <%# ここまで %>
      </div>
      <div class="event__comments">
        <% if user_signed_in? %>
          <%= form_with model:  [@event, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :content, "コメント" %><br />
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content%>
              <%= link_to comment.user.name, user_path(comment.user.id) , class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>

